<div class="container custom-glass-effect">

    <div class="row about-page">
        <div class="container col-11 general-content custom-shadow-effect">
           <a href="https://www.deviantart.com/vclouds/art/VClouds-Weather-Icons-179152045">Weather Icons</a><br />
            <a href="https://www.pexels.com/photo/adventure-calm-clouds-dawn-414171/">Background Image</a>
        </div>
        <div style="padding:30px;" class="container col-md-5 col-lg-5 col-sm-10 general-content custom-shadow-effect">
            Dan page <br />
                     <p>
                         
                     </p>
        </div>
        <div style="padding:30px;" class="container col-md-5 col-lg-5 col-sm-10 general-content custom-shadow-effect">
            <h3>Evan Buschor</h3>
            <h4>Evan.buschor@gmail.com</h4>
            <a href="https://www.linkedin.com/in/evan-buschor/"><h4>Linked in</h4></a>
            <h4>website Placeholder</h4>
        </div>
    </div>
</div>