USE [master]
GO
/****** Object:  Database [NationalParkWeatherSystem]    Script Date: 8/29/2018 2:58:25 PM ******/
CREATE DATABASE [NationalParkWeatherSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NationalParkWeatherSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NationalParkWeatherSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NationalParkWeatherSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NationalParkWeatherSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NationalParkWeatherSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NationalParkWeatherSystem]
GO
USE [NationalParkWeatherSystem]
GO
/****** Object:  Table [dbo].[park]    Script Date: 8/29/2018 2:58:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[park](
	[parkCode] [varchar](10) NOT NULL,
	[parkName] [varchar](200) NOT NULL,
	[state] [varchar](30) NOT NULL,
	[acreage] [int] NOT NULL,
	[elevationInFeet] [int] NOT NULL,
	[milesOfTrail] [real] NOT NULL,
	[numberOfCampsites] [int] NOT NULL,
	[climate] [varchar](100) NOT NULL,
	[yearFounded] [int] NOT NULL,
	[annualVisitorCount] [int] NOT NULL,
	[inspirationalQuote] [varchar](max) NOT NULL,
	[inspirationalQuoteSource] [varchar](200) NOT NULL,
	[parkDescription] [varchar](max) NOT NULL,
	[entryFee] [int] NOT NULL,
	[numberOfAnimalSpecies] [int] NOT NULL,
 CONSTRAINT [pk_park] PRIMARY KEY CLUSTERED 
(
	[parkCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[survey_result]    Script Date: 8/29/2018 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[survey_result](
	[surveyId] [int] IDENTITY(1,1) NOT NULL,
	[parkCode] [varchar](10) NOT NULL,
	[emailAddress] [varchar](100) NOT NULL,
	[state] [varchar](30) NOT NULL,
	[activityLevel] [varchar](100) NOT NULL,
 CONSTRAINT [pk_survey_result] PRIMARY KEY CLUSTERED 
(
	[surveyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weather]    Script Date: 8/29/2018 2:58:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weather](
	[parkCode] [varchar](10) NOT NULL,
	[fiveDayForecastValue] [int] NOT NULL,
	[low] [int] NOT NULL,
	[high] [int] NOT NULL,
	[forecast] [varchar](100) NOT NULL,
 CONSTRAINT [pk_weather] PRIMARY KEY CLUSTERED 
(
	[parkCode] ASC,
	[fiveDayForecastValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[survey_result] ON 
GO
INSERT [dbo].[survey_result] ([surveyId], [parkCode], [emailAddress], [state], [activityLevel]) VALUES (1, N'CVNP', N'test@test.com', N'MO', N'Inactive')
GO
SET IDENTITY_INSERT [dbo].[survey_result] OFF
GO
INSERT [dbo].[weather] ([parkCode], [fiveDayForecastValue], [low], [high], [forecast]) VALUES (N'CVNP', 1, 38, 62, N'rain')
GO
INSERT [dbo].[weather] ([parkCode], [fiveDayForecastValue], [low], [high], [forecast]) VALUES (N'CVNP', 2, 38, 56, N'partly cloudy')
GO
INSERT [dbo].[weather] ([parkCode], [fiveDayForecastValue], [low], [high], [forecast]) VALUES (N'CVNP', 3, 51, 66, N'partly cloudy')
GO
ALTER TABLE [dbo].[survey_result]  WITH CHECK ADD  CONSTRAINT [fk_survey_result_park] FOREIGN KEY([parkCode])
REFERENCES [dbo].[park] ([parkCode])
GO
ALTER TABLE [dbo].[survey_result] CHECK CONSTRAINT [fk_survey_result_park]
GO
ALTER TABLE [dbo].[weather]  WITH CHECK ADD  CONSTRAINT [fk_weather_park] FOREIGN KEY([parkCode])
REFERENCES [dbo].[park] ([parkCode])
GO
ALTER TABLE [dbo].[weather] CHECK CONSTRAINT [fk_weather_park]
GO
USE [master]
GO
